<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/security
http://www.springframework.org/schema/security/spring-security.xsd
        ">



    <security:http auto-config="true">

        <security:intercept-url pattern="/loaned/**" access="hasRole('ROLE_USER')"/>
        <security:intercept-url pattern="/myAds/**" access="hasRole('ROLE_USER')"/>
        <security:intercept-url pattern="/notifications/**" access="hasRole('ROLE_USER')"/>
        <security:intercept-url pattern="/observed/**" access="hasRole('ROLE_USER')"/>
        <security:intercept-url pattern="/addItem/**" access="hasRole('ROLE_USER')"/>
        <security:intercept-url pattern="/loanDetails/**" access="hasRole('ROLE_USER')"/>
        <security:intercept-url pattern="/editOffer/**" access="hasRole('ROLE_USER')"/>
        <security:intercept-url pattern="/rest/usr/**" access="hasRole('ROLE_USER')"/>

        <security:form-login login-page="/login"
                             default-target-url="/"
                             authentication-failure-url="/#/loginfailed"
                             authentication-success-handler-ref="myAuthenticationSuccessHandler"
        />
        <security:logout logout-url="/"/>

        <security:csrf></security:csrf>
    </security:http>

    <security:authentication-manager>
        <security:authentication-provider user-service-ref="userDetailsService">
            <security:password-encoder ref="passwordEncoder" />
        </security:authentication-provider>
    </security:authentication-manager>

    <bean id="userDetailsService"               class="pl.wat.pz.application.logic.serviceImpl.UserDetailsServiceImpl"/>
    <bean id="myAuthenticationSuccessHandler"   class="pl.wat.pz.application.web.handler.MyAuthenticationSuccessHandler"/>
    <bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>
</beans>